* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(images/bg-pattern-desktop.svg);
    position: relative;
}

.logo {
    position: absolute;
    top: 65px;
    left: 239px
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    grid-gap: 70px;


}

.article {
    padding: 7%;
    margin-top: 55px;

}

.container img {
    width: 100%;
}

.logo img {
    width: 150px;

}

h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

h1 {
    letter-spacing: 15px;
    font-weight: 600;
    color: hsl(0, 6%, 24%);
    font-size: 3.4em;
    margin-top: 97px;
    margin-bottom: 20px;
    line-height: 52px;



}

.hello {
    color: hsl(0, 36%, 70%);
    line-height: 24px;
    font-size: 0.84em;
}

input {
    padding: 4% 6%;
    width: 90%;
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%);
    margin-top: 30px;
    outline: none;


}

::placeholder {
    color: hsl(0, 36%, 70%)
}

button {
    padding: 3.7% 9%;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 65px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    top: 29px;
    left: 301px;
}

button:focus {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 46%, 85%));
}

.email {
    position: relative
}

.please {
    margin-left: 22px;
    font-size: 0.8em;
    margin-top: 10px;
    color: hsl(0, 93%, 68%);
    display: none;
}

.email .error {
    position: absolute;
    width: 20px;
    top: 44px;
    left: 267px;
    display: none;
}

.hero-mobile {
    display: none;
}
footer{
    position: fixed;
    bottom:0
}

@media screen and (max-width:375px) {
    .container {
        grid-template-columns: 1fr;
        min-width: 375px;
        grid-gap: 0px;

    }

    .logo {
        top: 28px;
        left: 25px;
    }

    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        display: block;
        width: 100%;
        margin-top: 90px;
    }

    .article {
        order: 2;
        margin-top: 10px;
        padding: 7% 10%;

    }

    h1,
    .hello {
        text-align: center;
     
    }


    h1 {
        font-size: 2em;
        line-height: 34px;
        margin-top: 20px;
    }
 

    .please {
        margin-left: 19px;
    }

    .email .error {
        position: absolute;
        width: 20px;
        top: 42px;
        left: 203px;
        display: none;
    }

    button{
        top: 29px;
        left: 235px;
    }


}


@media screen and (max-width:600px) {
    .container {
        grid-template-columns: 1fr;
        min-width: 375px;
        grid-gap: 0px;

    }

    .logo {
        top: 28px;
        left: 25px;
    }

    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        display: block;
        width: 100%;
        margin-top: 90px;
    }

    .article {
        order: 2;
        margin-top: 10px;
        padding: 7% 10%;

    }

    h1,
    .hello {
        text-align: center;
     
    }


    h1 {
        font-size: 2em;
        line-height: 34px;
        margin-top: 20px;
    }
 

    .please {
        margin-left: 19px;
    }

    .email .error {
        position: absolute;
        width: 20px;
        top: 42px;
        left: 203px;
        display: none;
    }

    button{
        top: 29px;
        left: 235px;
    }


}

@media screen and (max-width:414px) {
    .container {
        grid-template-columns: 1fr;
        min-width: 410px;
        grid-gap: 0px;

    }

    .logo {
        top: 28px;
        left: 25px;
    }

    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        display: block;
        width: 100%;
        margin-top: 90px;
    }

    .article {
        order: 2;
        margin-top: 10px;
        padding: 7% 10%;

    }

    h1,
    .hello {
        text-align: center;
     
    }


    h1 {
        font-size: 2em;
        line-height: 34px;
        margin-top: 20px;
    }
 

    .please {
        margin-left: 19px;
    }

    .email .error {
        position: absolute;
        width: 20px;
        top: 42px;
        left: 203px;
        display: none;
    }

    button{
        top: 29px;
        left: 259px;
    }

    input{
        width: 100%;
    }

    
}

